<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall.bean.Address">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <association property="province" column="province_id" select="selectProvince"/>
    <association property="city" column="city_id" select="selectCity"/>
    <association property="area" column="area_id" select="selectArea"/>

  </resultMap>
  <sql id="Base_Column_List">
    id, name, user_id, province_id, city_id, area_id, address, mobile, is_default, add_time,
    update_time, deleted
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_address
    where id = #{id}

  </select>
  <!--删除地址-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_address
    where id= #{id}
  </delete>
  <!--插入地址-->
  <insert id="insert" parameterType="com.cskaoyan.mall.bean.Address">
    insert into cskaoyan_mall_address ( id, name, user_id,province_id, city_id, area_id,address, mobile, is_default, add_time, update_time, deleted)
    values (#{id}, #{name}, #{userId},
      #{provinceId}, #{cityId}, #{areaId},
      #{address}, #{mobile}, #{isDefault},
      #{addTime}, #{updateTime}, #{deleted}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.cskaoyan.mall.bean.Address">
    insert into cskaoyan_mall_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mall.bean.Address">
    update cskaoyan_mall_address
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mall.bean.Address">
    update cskaoyan_mall_address
    set name = #{name,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--<resultMap id="addressMapLeft" type="com.cskaoyan.mall.vo.UserAddress">-->
  <!--<result column="is_default"  property="isDefault" />-->
  <!--<result column="address"  property="address" />-->
  <!--<result column="name"  property="name" />-->
  <!--<result column="mobile"  property="mobile" />-->
  <!--<result column="id"  property="id" />-->
  <!--<result column="user_id"  property="userId" />-->
  <!--<association property="area" column="area_id" select="com.cskaoyan.mapper.AddressMapper.queryAreaByAreaId"/>-->
  <!--<association property="areaId" column="area_id" select="com.cskaoyan.mapper.AddressMapper.queryAreaIdByAreaId"/>-->

  <!--<association property="city" column="city_id" select="com.cskaoyan.mapper.AddressMapper.queryCityByCityId"/>-->
  <!--<association property="cityId" column="city_id" select="com.cskaoyan.mapper.AddressMapper.queryCityIdByCityId"/>-->

  <!--<association property="province" column="province_id" select="com.cskaoyan.mapper.AddressMapper.queryProvinceByProvinceId"/>-->
  <!--<association property="provinceId" column="province_id" select="com.cskaoyan.mapper.AddressMapper.queryProvinceByProvinceId"/>-->
  <!--</resultMap>-->

  <!--<select id="queryUsersAddress" resultMap="addressMapLeft">-->
    <!--select-->
    <!--is_default,-->
    <!--area_id,-->
    <!--address,-->
    <!--`name`,-->
    <!--mobile,-->
    <!--id,-->
    <!--city_id,-->
    <!--user_id,-->
    <!--province_id-->
    <!--from cskaoyan_mall_address-->
  <!--<where>-->
    <!--<if test="name != null">-->
     <!--and  `name` like '%' #{name} '%'-->
    <!--</if>-->
   <!--<if test="userId != null">-->
      <!--and  user_id like '%' #{userId} '%'-->
    <!--</if>-->
    <!--</where>-->
    <!--&lt;!&ndash;select id ,name,user_id,province_id,city_id,area_id,address,mobile,is_default&ndash;&gt;-->
    <!--&lt;!&ndash;from cskaoyan_mall_address&ndash;&gt;-->
    <!--&lt;!&ndash;<where>&ndash;&gt;-->
      <!--&lt;!&ndash;<if test="name !=null">&ndash;&gt;-->
        <!--&lt;!&ndash;and name like '%' #{name} '%'&ndash;&gt;-->
      <!--&lt;!&ndash;</if>&ndash;&gt;-->
      <!--&lt;!&ndash;<if test="userId != null">&ndash;&gt;-->
        <!--&lt;!&ndash;and user_id = #{userId}&ndash;&gt;-->
      <!--&lt;!&ndash;</if>&ndash;&gt;-->
    <!--&lt;!&ndash;</where>&ndash;&gt;-->
  <!--</select>-->

  <!--<select id="queryAreaByAreaId" resultType="string" >-->
    <!--select `name` as area from cskaoyan_mall_region where `code` = #{area_id}-->
  <!--</select>-->
  <!--<select id="queryAreaIdByAreaId" resultType="int">-->
    <!--select id as areaId from cskaoyan_mall_region where `code` = #{area_id}-->
  <!--</select>-->

  <!--<select id="queryCityByCityId" resultType="string" >-->
    <!--select `name` as city from cskaoyan_mall_region where `code` = #{city_id}-->
  <!--</select>-->
  <!--<select id="queryCityIdByCityId" resultType="int">-->
    <!--select id as cityId from cskaoyan_mall_region where `code` = #{city_id}-->
  <!--</select>-->
  <!--<select id="queryProvinceByProvinceId" resultType="string">-->
    <!--select `name` as province from cskaoyan_mall_region where `code` = #{province_id}-->
  <!--</select>-->
  <!--<select id="queryProvinceIdByProvinceId" resultType="int">-->
    <!--select id as provinceId from cskaoyan_mall_region where `code` = #{province_id}-->
  <!--</select>-->




  <!--查询用户地址-->
  <resultMap id="AddressRegionMap" type="com.cskaoyan.mall.vo.UserAddress">
    <result column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="user_id" property="userId"/>
    <result column="address" property="address"/>
    <result column="mobile" property="mobile"/>
    <result column="is_default" property="isDefault"/>
    <association property="provinceId" column="province_id"
                 select="com.cskaoyan.mall.mapper.AddressMapper.selectProvinceId"/>
    <association property="province" column="province_id"
                 select="com.cskaoyan.mall.mapper.AddressMapper.selectProvince"/>
    <association property="cityId" column="city_id"
                 select="com.cskaoyan.mall.mapper.AddressMapper.selectCityId"/>
    <association property="city" column="city_id"
                 select="com.cskaoyan.mall.mapper.AddressMapper.selectCity"/>
    <association property="areaId" column="area_id"
                 select="com.cskaoyan.mall.mapper.AddressMapper.selectAreaId"/>
    <association property="area" column="area_id"
                 select="com.cskaoyan.mall.mapper.AddressMapper.selectArea"/>
  </resultMap>
  <select id="queryUsersAddress" resultMap="AddressRegionMap">
    select id ,name,user_id,province_id,city_id,area_id,address,mobile,is_default
    from cskaoyan_mall_address
    <where>
      <if test="name !=null">
        and name like '%' #{name} '%'
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      and deleted = 0
    </where>
  </select>
  <select id="selectProvinceId" resultType="int">
        select id as provinceId from cskaoyan_mall_region where `code` =  #{province_id}
    </select>
  <select id="selectProvince" resultType="string">
        select name as province from cskaoyan_mall_region where `code` =  #{province_id}
    </select>

  <select id="selectCityId" resultType="int">
        select id as cityId from cskaoyan_mall_region where `code` =  #{city_id}
    </select>

  <select id="selectCity" resultType="string">
        select name as city from cskaoyan_mall_region where `code` =  #{city_id}
    </select>

  <select id="selectAreaId" resultType="int">
        select id as areaId from cskaoyan_mall_region where `code` =  #{area_id}
    </select>

  <select id="selectArea" resultType="string">
        select name as area from cskaoyan_mall_region where `code` =  #{area_id}
    </select>




  <!--显示所有地址-->
  <select id="queryAllAdd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_address
  </select>

    <!--编辑-->
    <select id="queryByID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cskaoyan_mall_address
        where
        id=#{id}
    </select>

</mapper>
