<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.CollectMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall.bean.Collect">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="value_id" jdbcType="INTEGER" property="valueId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, value_id, type, add_time, update_time, deleted
  </sql>

  <select id="queryAllCollect" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from cskaoyan_mall_collect
    <where>
      <if test="userId != null">
        and user_id like '%' #{userId} '%'
      </if>
      <if test="valueId != null">
        and  value_id=#{valueId}
      </if>
      and deleted = 0
    </where>
  </select>
  <!--查询所有vaLueId-->
  <select id="queryAllCollect2" resultType="Integer">
    select value_id
    from cskaoyan_mall_collect
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_collect
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_collect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!--delete-->
  <delete id="deleteValueId">
       delete from cskaoyan_mall_collect
    where value_id = #{valueId}
  </delete>
  <!--insert-->
  <insert id="insert" >
    insert into cskaoyan_mall_collect (
      type,value_id
   )
    values (   #{type}, #{valueId}

    )
  </insert>

  <insert id="insertSelective" parameterType="com.cskaoyan.mall.bean.Collect">
    insert into cskaoyan_mall_collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="valueId != null">
        value_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="valueId != null">
        #{valueId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mall.bean.Collect">
    update cskaoyan_mall_collect
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="valueId != null">
        value_id = #{valueId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mall.bean.Collect">
    update cskaoyan_mall_collect
    set user_id = #{userId,jdbcType=INTEGER},
      value_id = #{valueId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap id="WxCollect" type="com.cskaoyan.mall.vo.WxCollect">
    <result column="brief" property="brief"/>
    <result column="pic_url" property="picUrl"/>
    <result column="name" property="name"/>
    <result column="retail_price" property="retailPrice"/>
    <result column="value_id" property="valueId"/>
    <result column="id" property="id"/>
    <result column="type" property="type"/>
  </resultMap>

  <select id="queryMyCollect" resultMap="WxCollect">
    SELECT
    g.brief,g.pic_url,g.name,g.retail_price,c.value_id,c.id,c.type
    FROM cskaoyan_mall_goods g
    LEFT JOIN cskaoyan_mall_collect c on g.id = c.value_id
    WHERE c.user_id=#{userId} and c.type = #{type}
  </select>

  <select id="queryMyCollectByUserIdAndValueId" resultType="int">
    SELECT COUNT(*) FROM
    cskaoyan_mall_collect WHERE user_id=#{userId} AND value_id=#{valueId}
  </select>

  <insert id="insertMyCollect">
    INSERT INTO cskaoyan_mall_collect
    (user_id,value_id,`type`,add_time,deleted) VALUES
    (#{userId},#{valueId},0,#{addTime},0)
  </insert>

  <delete id="deleteMyCollectByUserIdAndValueId">
    delete from cskaoyan_mall_collect
    where user_id=#{userId} AND value_id=#{valueId}
  </delete>

</mapper>
