<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall.bean.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>

  <resultMap id="SystemPermissionMap" type="com.cskaoyan.mall.bean.SystemPermissions">

    <result column="alabel" jdbcType="VARCHAR" property="id" />
    <result column="alabel" jdbcType="VARCHAR" property="label" />
    <result column="aapi" jdbcType="VARCHAR" property="api" />

    <collection property="children" ofType="com.cskaoyan.mall.bean.SystemPermissions">
      <result column="blabel" jdbcType="VARCHAR" property="id" />
      <result column="blabel" jdbcType="VARCHAR" property="label" />
      <result column="bapi" jdbcType="VARCHAR" property="api" />
      <collection property="children" ofType="com.cskaoyan.mall.bean.SystemPermissions">
        <result column="permission" jdbcType="VARCHAR" property="id" />
        <result column="clabel" jdbcType="VARCHAR" property="label" />
        <result column="capi" jdbcType="VARCHAR" property="api" />
      </collection>
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, role_id, permission, add_time, update_time, deleted
  </sql>

  <select id="selectAllSystemPermissions" resultMap="SystemPermissionMap">
    SELECT cml.label as alabel,
    cml1.label as blabel,
    cmlp.api as capi,cmlp.label as clabel,cmlp.permission as permission
    from cskaoyan_mall_label cml
    left join cskaoyan_mall_label cml1 on cml.id = cml1.fid
    left join cskaoyan_mall_label_permission cmlp on cml1.id = cmlp.fid
    WHERE cml.fid = 0
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_permission
    where id = #{id,jdbcType=INTEGER}
    and deleted = 0
  </select>

  <select id="selectPermissionById" resultType="string">
    select
    permission
    from cskaoyan_mall_permission
    where role_id = #{roleId}
    and deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.mall.bean.Permission">
    insert into cskaoyan_mall_permission (id, role_id, permission,
      add_time, update_time, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{permission,jdbcType=VARCHAR},
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.mall.bean.Permission">
    insert into cskaoyan_mall_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mall.bean.Permission">
    update cskaoyan_mall_permission
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mall.bean.Permission">
    update cskaoyan_mall_permission
    set role_id = #{roleId,jdbcType=INTEGER},
      permission = #{permission,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAllPermissions" resultType="string">
    select permission
    from cskaoyan_mall_label_permission
  </select>

  <update id="deletePermissionsByRoleId">
    update cskaoyan_mall_permission
    set deleted = 1,update_time = #{time}
    where role_id = #{roleId}
  </update>

  <insert id="addPermissions">
    insert into
    cskaoyan_mall_permission
    (role_id,permission,add_time,update_time)
    values
    (#{roleId},#{permission},#{time},#{time})
  </insert>

  <select id="selectApiByPermission" resultType="string">
    select api
    from cskaoyan_mall_label_permission
    where permission = #{permission}
  </select>

</mapper>
